{% extends "app/layout.html" %}

{% block content %}
<div class="jumbotron">
    <h1>Indicator Tools</h1>
    We are developing a set of indicators that can be used to communicate the
    value of water sharing agreements to multiple stakeholders, including
    agriculture, municipal, and the environment. These are our tools for
    evaluating these indicators.
</div>

<div class="row">
    <div class='col-md-6'>
       <h2>Environmental Flow</h2>
       <p>
       Evaluate and compare environmental flow targets under different use
       scenarios.
        </p>
       <a href="{% url 'eflow' %}" class='btn btn-default'>Use the tool &raquo;</a>
    </div>
    <div class='col-md-6'>
        <h2>Agriculture and Economics</h2>
    </div>
</div>
<div class="row">
    <div class='col-md-6'>
        <h2>Municipal and Industrial</h2>
    </div>
    <div>
        <div class='col-md-6'>
            <h2>System Supply Security</h2>
        </div>
    </div>
</div>
{% endblock %}
