{% extends 'app/layout.html' %}
{% load staticfiles %}
{% block content %}
<h1>{{ project.name }} - Scenario Comparison</h1>

<img src="{% url 'project_pct_plot' project.id %}"></img>

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script type="text/javascript" src="http://vega.github.io/vega/vega.js"></script>
<script type="text/javascript" src="https://rawgit.com/Esri/cedar/master/src/cedar.js"></script>
<script type="text/javascript" src="{% static 'flowviz/project_compare.js' %}"></script>
<script type="text/javascript">
    var _dataUrl = "{% url 'project_data' project.id %}"
    $(document).ready(function () {
        ProjectCompare.initialize(_dataUrl);
    });
</script>
{% endblock %}
