{% extends 'app/layout.html' %}
{% load staticfiles %}

{% block content %}
<h1>{{ project.name }}</h1>

<p>{{ project.description|linebreaks }}</p>

<div class="row">
    <h2>Scenarios</h2>
    {% for scenario in project.scenario_set.all %}
    <div class='row'>
        <a class='h4' href="{% url 'scenario' scenario.id %}">{{ scenario.name }}</a>
        <p>{{ scenario.description }}</p>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <a href="/admin/flowviz/scenario/add?project={{ project.id }}&navsource=main" class="btn btn-primary pull-right">Create a scenario &raquo;</a>
    {% endif %}
</div>

<div class='row'>
    <h2>Indicators</h2>
    <div class='row'>
        <h3>Environmental Flow Sufficiency</h3>
        <div class='row'>
            <h4>Temporal Deficit</h4>
            <div class="col-md-6">
                <img id="percent-plot" src="{% static 'app/images/white_pixel.png' %}" class="dynamic-image"></img>
            </div>
            <div id="deficit-pct-table" class="col-md-6">
            </div>
        </div>
        <div class='row'>
            <h4>Volumetric Deficit</h4>
            <div class="col-md-6">
                <img id="deficit-plot" src="{% static 'app/images/white_pixel.png' %}" class="dynamic-image"></img>
            </div>
            <div id="deficit-stats-table", class="col-md-6">
            </div>
        </div>
    </div>
</div>

{% include "flowviz/wait_dialog.django.html" with loading_message="Loading data..." %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'flowviz/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flowviz/vega.js' %}"></script>
<script type="text/javascript" src="{% static 'flowviz/cedar.js' %}"></script>
<script type="text/javascript" src="{% static 'flowviz/common.js' %}"></script>
<script type="text/javascript" src="{% static 'flowviz/project_compare.js' %}"></script>
<script type="text/javascript">
    var __tables = {
        "deficit-pct-table": "{% url 'project_deficit_days_csv' project.id %}",
        "deficit-stats-table": "{% url 'project_deficit_stats_csv' project.id %}"
    };

    var imgUrls = {
        percent: "{% url 'project_pct_plot' project.id %}",
        deficit: "{% url 'project_stats_plot' project.id %}"
    }

    $(document).ready(function () {
        ProjectCompare.initialize(__tables, imgUrls);
    });
</script>
{% endblock %}
