{% extends 'app/layout.html' %}
{% load staticfiles %}
{% block content %}
<h1>{{ project.name }} - Scenario Comparison</h1>

<div>
    <h2>Environmental Flow Statistics</h2>
    <p>
        <a class='btn btn-default' href="{% url 'project_detail' project.id %}">&laquo; Back to project</a>
    </p>
    <div class="row">
        <div class="col-md-6">
            <img src="{% url 'project_pct_plot' project.id %}"></img>
        </div>
        <div id="deficit-pct-table" class="col-md-6">
            <h4>Days in deficit</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="{% url 'project_stats_plot' project.id %}"></img>
        </div>
        <div id="deficit-stats-table", class="col-md-6">
            <h4>Median deficit</h4>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
<script type="text/javascript" src="http://vega.github.io/vega/vega.js"></script>
<script type="text/javascript" src="https://rawgit.com/Esri/cedar/master/src/cedar.js"></script>
<script type="text/javascript" src="{% static 'flowviz/project_compare.js' %}"></script>
<script type="text/javascript">
    var __tables = {
        "deficit-pct-table": "{% url 'project_deficit_days_csv' project.id %}",
        "deficit-stats-table": "{% url 'project_deficit_stats_csv' project.id %}"
    };
    $(document).ready(function () {
        ProjectCompare.initialize(__tables);
    });
</script>
{% endblock %}
