{% extends 'app/layout.html' %}
{% load staticfiles %}
{% load bootstrap_components %}

{% block content %}
<h1>{{ project.name }}</h1>

<div id="map"></div>

<p>{{ project.description|linebreaks }}</p>

<h2>Scenarios</h2>
<div>
    {% for scenario in project.scenario_set.all %}
    <div class='row'>
        <a class='h4' href="{% url 'scenario' scenario.id %}">{{ scenario.name }}</a>
        <p>{{ scenario.description }}</p>
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <a href="/admin/flowviz/scenario/add?project={{ project.id }}&navsource=main" class="btn btn-primary pull-right">Create a scenario &raquo;</a>
    {% endif %}
</div>

<h2>Indicators</h2>
<div>
    <h3>Environmental Flow Sufficiency</h3>
    <div>
        <h4>Temporal Deficit {% bootstrap_modal_show "eflow-temporal-deficit-help" %}</h4>
        <div class='row'>
            <div class="col-md-6">
                <img id="percent-plot" src="{% static 'app/images/white_pixel.png' %}" class="dynamic-image"></img>
            </div>
            <div class="col-md-6">
                <h5>Monthly Temporal Deficit</h5>
                <div id="deficit-pct-table-monthly"></div>
                <h5>Annual Temporal Deficit</h5>
                <div id="deficit-pct-table-annual"></div>
            </div>
        </div>
        <h4>Volumetric Deficit {% bootstrap_modal_show "eflow-volumetric-deficit-help" %}</h4>
        <div class='row'>
            <div class="col-md-6">
                <img id="deficit-pct-plot" src="{% static 'app/images/white_pixel.png' %}" class="dynamic-image"></img>
            </div>
            <div class="col-md-6">
                <h5>Monthly Volume Deficit</h5>
                <div id="deficit-stats-monthly-pct-table"></div>
                <h5>Annual Volume Deficit</h5>
                <div id="deficit-stats-annual-pct-table"></div>
            </div>
        </div>
        <div class='row'>
            <div class="col-md-6">
                <img id="deficit-plot" src="{% static 'app/images/white_pixel.png' %}" class="dynamic-image"></img>
            </div>
            <div class="col-md-6">
                <h5>Monthly Volume Deficit</h5>
                <div id="deficit-stats-monthly-table"></div>
                <h5>Annual Volume Deficit</h5>
                <div id="deficit-stats-annual-table"></div>
            </div>
        </div>
    </div>

    <h3>Long-term Hydrologic Trend</h3>
    <div class="row">
        <h4>7-Day Minimum Flow Trend</h4>
        <div class="col-md-6">
            <img id="low-flow-plot" src="{% static 'app/images/white_pixel.png' %}" class="dynamic-image"></img>
        </div>
        <div class="col-md-6">
            <div id="low-flow-table"></div>
        </div>
    </div>

</div>

{% include "flowviz/wait_dialog.django.html" with loading_message="Loading data..." %}
{% include "flowviz/indicator_help.django.html" %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'flowviz/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'flowviz/vega.js' %}"></script>
<script type="text/javascript" src="{% static 'flowviz/cedar.js' %}"></script>
<script type="text/javascript" src="{% static 'flowviz/common.js' %}"></script>
<script type="text/javascript" src="{% static 'flowviz/project_compare.js' %}"></script>

<!-- Load Leaflet from CDN-->
<link rel="stylesheet" href="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css" />
<script src="//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js"></script>

<!-- Load Esri Leaflet from CDN -->
<script src="//cdn.jsdelivr.net/leaflet.esri/1.0.0/esri-leaflet.js"></script>

<script type="text/javascript">
    var __tables = {
        "deficit-pct-table-monthly": "{% url 'project_deficit_days_csv' project.id %}",
        "deficit-pct-table-annual": "{% url 'project_deficit_days_annual_csv' project.id %}",
        "deficit-stats-monthly-pct-table": "{% url 'project_deficit_stats_pct_csv' project.id %}",
        "deficit-stats-annual-pct-table": "{% url 'project_deficit_stats_annual_pct_csv' project.id %}",
        "deficit-stats-monthly-table": "{% url 'project_deficit_stats_csv' project.id %}",
        "deficit-stats-annual-table": "{% url 'project_deficit_stats_annual_csv' project.id %}",
        "low-flow-table": "{% url 'project_low_flow_csv' project.id %}",
    };

    var imgUrls = {
        percent: "{% url 'project_pct_plot' project.id %}",
        deficit_pct: "{% url 'project_stats_pct_plot' project.id %}",
        deficit: "{% url 'project_stats_plot' project.id %}",
        low_flow: "{% url 'project_low_flow_plot' project.id %}"
    }

    $(document).ready(function () {
        ProjectCompare.initialize(__tables, imgUrls);
    });
</script>
{% endblock %}
