{% extends 'app/layout.html' %}
{% load staticfiles %}
{% load bootstrap_components %}

{% block content %}
    <h1>{{ title }}</h1>

    <form target="{{ post_url }}" method="post">
        {% csrf_token %}

        {% include 'utils/bootstrap_form_element.django.html' %}


        <div class="panel panel-default">
            <div class='panel-heading'>
                <h2>HUC Regions <span class='tiny-label'>(optional)</span></h2>
            </div>
            <div class='panel-body'>
                <p>HUC regions specify the spatial location of the basin you
                are working in. You can add regions here to highlight the
                places this project will affect on the project map.
                </p>
                <table class="table">
                    {{ huc_formset.management_form }}
                    <thead>
                        <th>HUC ID</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for form in huc_formset %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr class="huc-formset">
                                <td>
                                
                                    {{ form.hucid|addcss:"form-control" }}
                                    <div class='tiny-label'>{{ form.hucid.help_text }}</div>
                                
                                </td>
                                <td>{{ form.DELETE }}</td>
                            </tr>
                            {% if form.errors %}
                                <tr><td colspan=2>{{ form.errors }}</tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class='panel panel-default'>
            <div class='panel-heading'>
                <h2>GIS Layers <span class='tiny-label'>(optional)</span></h2>
            </div>
            <div class='panel-body'>
                <p>You can provide additional GIS layers here to highlight
                other features on the project map that may be of interest to
                your stakeholders.</p>
                <table class="table">
                    {{ gis_formset.management_form }}
                    <thead>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Description</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for form in gis_formset %}
                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                            <tr class="gis-formset">
                                <td>{{ form.name|addcss:"form-control" }}
                                    <div class='tiny-label'>{{ form.name.help_text }}</div>
                                </td>
                                <td>{{ form.url|addcss:"form-control" }}
                                    <div class='tiny-label'>{{ form.url.help_text }}</div>
                                </td>
                                <td>{{ form.description|addcss:"form-control" }}
                                    <div class='tiny-label'>{{ form.description.help_text }}</div>
                                </td>
                                <td>{{ form.DELETE }}</td>
                            </tr>
                            {% if form.errors %}
                                <tr><td colspan=4>{{ form.errors }}</tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <input class="btn btn-primary" type="submit" value="Save Project" />
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'app/scripts/jquery.formset.js' %}"></script>
    <script src="{% static 'utils/bootstrap.jquery.js' %}"></script>

    <script type="text/javascript">

        var hucPrefix = "{{ huc_formset.prefix }}";
        var gisPrefix = "{{ gis_formset.prefix }}";

        $(document).ready(function () {
            $(".huc-formset").formset({
                addText: "Add Region",
                deleteText: "Remove Region",
                prefix: hucPrefix,
            });

            $(".gis-formset").formset({
                addText: "Add Layer",
                deleteText: "Remove Layer",
                prefix: gisPrefix,
            });
        });
    </script>
{% endblock %}
