{% extends "app/layout.html" %}
{% load staticfiles %}
{% load bootstrap_components %}

{% block content %}
  {% if project_name %}
  <h2>
    Project: {{ project_name }}
  </h2>
  {% endif %}
  <h2>
  Scenario: {{ scenario.name|escape }}
</h2>

<div>
    {{ scenario.description|escape|linebreaks }}
</div>

<div>
    {% if scenario.source_type == gage_type %}
      <div class='row'>
        <div class='col-md-4'>
            Period of Record: {{ scenario.start_date }} to {{ scenario.end_date }}
            <table class="table table-striped">
                <thead>
                    <th>Target (cfs)</th>
                    <th>From</th>
                    <th>To</th>
                </thead>
                <tbody>
                {% for element in converted_targets %}
                    <tr>
                        <td>{{ element.target_value }}</td>
                        <td>{{ element.from_month }}-{{ element.from_day }}</td>
                        <td>{{ element.to_month }}-{{ element.to_day }}</td>
                    </tr>
                {% endfor %}
                <tbody>
            </table>
        </div>
      </div>
    {% else %}
      <div>Flow and target data from
          <a href="{% url 'view-file' scenario.excel_file.id %}">
              {{ scenario.excel_file }}
          </a>
      </div>
    {% endif %}
    <div class="btn-group" role="group">
        <div class="dropdown dropdown-btn btn">
          <button class="btn btn-default dropdown-toggle" type="button"
            id="download-data-dropdown" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
            Download data
            <span class="caret"></span>
          </button>
          {% if user.is_authenticated %}
              <a class='btn btn-default'
                  href="{% url 'scenario-edit' scenario.id %}">Edit Scenario &raquo;</a>
          {% endif %}

          <ul class="dropdown-menu" aria-labelledby="download-data-dropdown">
            <li><a href="{% url 'download-scenario-data' scenario.id %}?format=xlsx">Excel</a></li>
            <li><a href="{% url 'download-scenario-data' scenario.id %}?format=csv">Comma separated values</a></li>
            <li><a href="{% url 'download-scenario-data' scenario.id %}?format=txt">Text</a></li>
          </ul>
        </div>
      </div>
    <div class='row'>
        <h2>Streamflow Data and Environmental Flow Targets</h2>
        <img id="img-average" class='dynamic-image' src="{% static 'app/images/white_pixel.png' %}"></img>
    </div>
</div>

<div>
    <h2>Water Data</h2>
    <div class='row'>
        <div class='col-md-6'>
            {% bootstrap_modal_show "raster-flow-help" %}
            <img id="img-total" src="{% static 'app/images/white_pixel.png' %}" class="dynamic-image"></img>
        </div>
        <div class='col-md-6'>
            {% bootstrap_modal_show "raster-deficit-help" %}
            <img id="img-gap" class="dynamic-image" src="{% static 'app/images/white_pixel.png' %}"></img>
        </div>
    </div>
</div>

<div>
    <h2>Environmental Flow Sufficiency</h2>
    <h3>Temporal Deficit {% bootstrap_modal_show "eflow-temporal-deficit-help" %}</h3>
    <div class="row">
        <div class='col-md-6'>
            <img id="img-pct" class="dynamic-image" src="{% static 'app/images/white_pixel.png' %}"></img>
        </div>
        <div class='col-md-6'>
            <img id="img-pct-annual" class="dynamic-image" src="{% static 'app/images/white_pixel.png' %}"></img>
        </div>
    </div>
    <div class="row">
        <h3>Volumetric Deficit {% bootstrap_modal_show "eflow-volumetric-deficit-help" %}</h3>
        <div class="row">
            <div class='col-md-6'>
                <img id="img-stats-pct" class="dynamic-image" src="{% static 'app/images/white_pixel.png' %}"></img>
            </div>
            <div class='col-md-6'>
                <img id="img-stats-pct-annual" class="dynamic-image" src="{% static 'app/images/white_pixel.png' %}"></img>
            </div>
        </div>
        <div class="row">
            <div class='col-md-6'>
                <img id="img-stats" class="dynamic-image" src="{% static 'app/images/white_pixel.png' %}"></img>
            </div>
            <div class='col-md-6'>
                <img id="img-stats-annual" class="dynamic-image" src="{% static 'app/images/white_pixel.png' %}"></img>
            </div>
        </div>

        <div class="row">
            <h3>Drought Readiness</h3>
            <div class="col-md-6">
                {{ temporal_deficit_div | safe }}
            </div>
            <div class="col-md-6">
                {{ volume_deficit_div | safe }}
            </div>
        </div>

    </div>
</div>

<div>
    <h2>Long-term Hydrologic Trend</h2>
    <div class="row">
        <img id="img-annual-trend" class="dynamic-image" src="{% static 'app/images/white_pixel.png' %}"></img>
    </div>
</div>

{% bootstrap_modal "Raster Plot" raster-flow-help %}
    This graph shows the {{ scenario.attribute_name|escape }} value over
    the entire period of record. Each
    row of pixels in the graph represents the river flow for 1 year. The years
    are stacked on top of one another to provide a view of the value over the
    full period of record.
{% endbootstrap_modal %}

{% bootstrap_modal "Raster plot" raster-deficit-help %}
    This graph shows the flow deficit over
    the entire period of record. Each
    row of pixels in the graph represents the deficit for 1 year. The years
    are stacked on top of one another to provide a view of the value over the
    full period of record.
{% endbootstrap_modal %}

{% include "utils/wait_dialog.django.html" with id="pleaseWaitDialog" loading_message="Loading data..." %}

{% include "flowviz/indicator_help.django.html" %}

{% endblock %}

{% block scripts %}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css">
    <script src="{% static 'flowviz/common.js' %}"></script>
    <script src="{% static 'flowviz/scenario.js' %}"></script>
    <script type='text/javascript'>
        var attribute_name = "{{ attribute_name|escapejs }}"
        var gap_attribute_name = "{{ gap_attribute_name|escapejs }}"
        var scenario = {
            name: "{{ scenario.name|escapejs }}",
            description: "{{ scenario.description|escapejs }}",
            attribute_name: "{{ scenario.attribute_name|escapejs }}",
            attribute_units: "{{ scenario.attribute_units|escapejs }}",
            attribute_units_abbr: "{{ scenario.attribute_units_abbr|escapejs }}"
        }

        var imgUrls = {
            average: "{% url 'scenario-average' scenario.id %}",
            total: "{% url 'scenario-dynamic-raster' scenario.id %}",
            gap: "{% url 'scenario-dynamic-raster' scenario.id %}",
            stats: "{% url 'scenario-deficit-stats' scenario.id %}",
            stats_annual: "{% url 'scenario-deficit-stats-annual' scenario.id %}",
            stats_pct: "{% url 'scenario-deficit-stats-pct' scenario.id %}",
            stats_pct_annual: "{% url 'scenario-deficit-stats-pct-annual' scenario.id %}",
            pct: "{% url 'scenario-deficit-days' scenario.id %}",
            pct_annual: "{% url 'scenario-deficit-days-annual' scenario.id %}",
            annual_min: "{% url 'scenario-annual-min' scenario.id %}",
        }

        $(document).ready(function () {
            Scenario.initialize(scenario, imgUrls)
        });
    </script>

    {{ temporal_deficit_script | safe }}
    {{ volume_deficit_script | safe }}

{% endblock %}
