{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}
<h2>{{ scenario.name }}</h2>

<a class='btn btn-default' href="{% url 'project_detail' scenario.project.id %}">&laquo; Back to project</a>

<div>
    {{ scenario.description }}
</div>

<div>
    <div class='row'>
    {% if scenario.source_type == gage_type %}
    <div class='col-md-4'>
        Period of Record: {{ scenario.start_date }} to {{ scenario.end_date }}
        <table class="table table-striped">
            <thead>
                <th>Target ({{ scenario.attribute_units_abbr }})</th>
                <th>From</th>
                <th>To</th>
            </thead>
            <tbody>
            {% for element in scenario.target.cyclictargetelement_set.all %}
                <tr>
                    <td>{{ element.target_value }}</td>
                    <td>{{ element.from_month }}-{{ element.from_day }}</td>
                    <td>{{ element.to_month }}-{{ element.to_day }}</td>
                </tr>
            {% endfor %}
            <tbody>
        </table>
    </div>
    {% else %}
    <div>Flow and target data from {{ scenario.excel_file }}<div>
    {% endif %}
    </div>

    <div class='row'>
        <img class='dynamic-image' src="{% url 'scenario-average' scenario.id %}"></img>
    </div>
    {% if user.is_authenticated %}
        <div>
            <a class='btn btn-default'
                href="/admin/flowviz/scenario/{{ scenario.id }}">Edit Scenario &raquo;</a>
        </div>
    {% endif %}
</div>

<div>
    <h2>Water Data</h2>
    <div class="row">
        <div class='img-wrapper col-md-6'>
            <img
              src="{% url 'scenario-dynamic-raster' scenario.id attribute_name %}/?cmap=spectral_r&title={{ scenario.attribute_name }}+({{ scenario.attribute_units_abbr }})&logscale=True"></img>
        </div>
        <div class='img-wrapper col-md-6'>
            <img src="{% url 'scenario-dynamic-raster' scenario.id gap_attribute_name %}/?cmap=bwr_r&title={{ scenario.attribute_name }}+gap+({{ scenario.attribute_units_abbr }})&zero=True"></img>
        </div>
    </div>

    <div class="row">
        <div class='img-wrapper col-md-6'>
            <img src="{% url 'scenario-deficit-stats' scenario.id %}"></img>
        </div>
        <div class='img-wrapper col-md-6'>
            <img src="{% url 'scenario-deficit-days' scenario.id %}"></img>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'flowviz/scenario.js' %}"></script>
    <script type='text/javascript'>
        $(document).ready(Scenario.initialize);
    </script>
{% endblock %}
