{% extends "flowviz/base.django.html" %}
{% load staticfiles %}

{% block head %}
    <script src={% static 'flowviz/targetview.js' %}></script>
{% endblock %}

{% block content %}
<h2>{{ flow_target.name }}</h2>

<div>
    <ul>
        {% for element in flow_target.gradedflowtargetelement_set.all %}
            <li>
                From {{ element.from_month }}-{{ element.from_day }}
                to {{ element.to_month }}-{{ element.to_day }}: {{ element.target_value }} CFS
            </li>
        {% endfor %}
    </ul>
    <div>
        <img class='dynamic-image' src="/flowviz/{{ flow_target.id }}/average/"></img>
    </div>
    <div>
        <a class='buttonlink' href="/admin/flowviz/gradedflowtarget/{{ flow_target.id }}">Edit flow target...</a>
    </div>
</div>

<div>
    <h2>Water Data</h2>
    <div>
        <div class='img-wrapper'>
            <img
              onload='TargetView.imgLoaded(this)'
              src="/flowviz/{{ flow_target.id }}/raster/flow/?cmap=spectral_r&title=Flow Rate (cfs)&logscale=True"></img>
        </div>
        <div class='img-wrapper'>
            <img onload='TargetView.imgLoaded(this)' src="/flowviz/{{ flow_target.id }}/raster/e-flow-gap/?cmap=bwr_r&title=Instream+flow+gap (cfs)&zero=True"></img>
        </div>
    </div>

    <div>
        <div class='img-wrapper'>
            <img onload='TargetView.imgLoaded(this)' src="/flowviz/{{ flow_target.id }}/stats/"></img>
        </div>
        <div class='img-wrapper'>
            <img onload='TargetView.imgLoaded(this)' src="/flowviz/{{ flow_target.id }}/days/"></img>
        </div>
    </div>
</div>

<script type='text/javascript'>
    $(document).ready(TargetView.initialize);
</script>

{% endblock %}
