{% extends 'app/layout.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class='col-md-12'>
        <p>{{ county }} County, {{ state }}</p>
        <p>{{ description | linebreaks }}</p>
        <p>Years: {{ years }}</p>
        {% if commodities %}
        <p>Commodities: {{ commodities }}</p>
        {% endif %}
        <p>Source: {{ source }}</p>

        {% if user.is_authenticated %}
        <div>
            <a class='btn btn-primary pull-right' href='/admin/econ/cropmix/{{ id  }}?navsource=main'>
                Edit crop mix &raquo;
            </a>
        </div>
        {% endif %}
    </div>

    <div class='col-md-12'>
        <h2>Economic Productivity
            <a class='glyphicon glyphicon-download' href="{% url 'download_crop_mix_area' id %}">
            </a>
        </h2>
        
        <div class='col-md-12'>
            <div class='col-md-6'>
                {{ acre_div | safe }}
            </div>
            <div class='col-md-6'>
                {{ acre_pct_div | safe }}
            </div>
        </div>

        <div class='col-md-12'>
            <div class='col-md-6'>
                {{ revenue_div | safe }}
            </div>
            <div class='col-md-6'>
                {{ revenue_cpi_div | safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css">

    {{ acre_script | safe }}
    {{ acre_pct_script | safe }}
    {{ revenue_script | safe }}
    {{ revenue_cpi_script | safe }}
{% endblock %}
