{% extends 'app/layout.html' %}

{% block content %}
    <h1>{{ title }}</h1>

    <div class="row">
        <p>{{ county }} County, {{ state }}</p>
        <p>{{ description | escape }}</p>
        <p>Years: {{ years }}</p>
        {% if commodities %}
        <p>Commodities: {{ commodities | escape }}</p>
        {% endif %}
        <p>Source: {{ source }}</p>

        {% if group_map %}
        <table class="table">
            <thead>
                <th>Crop Group</th>
                <th>Revenue ($/acre)</th>
                <th>NIWR (ft/acre)</th>
                <th>Labor (hours/acre)</th>
                <th>Commodity</th>
            </thead>
            <tbody>
                {% for key, value in group_map.items %}
                <tr>
                    <td>{{ key  }}</td>
                    <td>{{ value.0.revenue }}</td>
                    <td>{{ value.0.niwr }}</td>
                    <td>{{ value.0.labor }}</td>
                    <td>{{ value.1 }}</td>
                </tr>
                {% endfor %}
                {% if uncategorized %}
                <tr><td>Other</td><td colspan="4">{{ uncategorized }}</td></tr>
                {% endif %}
            </tbody>
        </table>
        {% endif %}

        {% if user.is_authenticated %}
        <div>
            <a class='btn btn-primary pull-right' href="{% url 'crop_mix_edit' id %}">
                Edit crop mix &raquo;
            </a>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <h2>Crop Mix
            <a class='glyphicon glyphicon-download' href="{% url 'download_crop_mix_area' id %}">
            </a>
        </h2>
        <div>
            <div class='col-md-6'>
                {{ acre_div | safe }}
            </div>
            <div class='col-md-6'>
                {{ acre_pct_div | safe }}
            </div>
        </div>
    </div>

    <div class="row">
        <h2>Economic Productivity of Irrigation Water
        </h2>

        <div class="row">
            <div class='col-md-6'>
                {{ revenue_div | safe }}
            </div>
            <div class='col-md-6'>
                {{ revenue_cpi_div | safe }}
            </div>
        </div>

        {% if group_map %}
        <div class="row">
            <div class='col-md-6'>
                {{ niwr_div | safe }}
            </div>
            <div class='col-md-6'>
                {{ revenue_af_div | safe }}
            </div>
        </div>
        <div class="row">
            <div class='col-md-6 col-md-offset-3'>
                {{ labor_div | safe }}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css">

    {{ acre_script | safe }}
    {{ acre_pct_script | safe }}
    {{ revenue_script | safe }}
    {{ revenue_cpi_script | safe }}

    {% if group_map %}
    {{ niwr_script | safe }}
    {{ revenue_af_script | safe }}
    {{ labor_script | safe }}
    {% endif %}
{% endblock %}
