{% extends 'app/layout.html' %}

{% block content %}

<h1>{{ title }}</h1>

<p>{{ description | linebreaks }}</p>

{% if file.longitude and file.latitude %}
<p>
    Spatial location: {{ file.longitude }}, {{ file.latitude }}
</p>
{% endif %}

<a class="btn btn-default" href="{% url 'edit-file' file.id %}">
    Edit File
</a>

<a class="btn btn-default" href="{{ url }}">
    Download File
</a>

<a class="btn btn-default" href="{% url 'upload-file' %}">
    Upload another file &raquo;
</a>

{% endblock %}
