{% extends "app/layout.html" %}

{% block content %}

<h2>About Us</h2>

<p>
This work resulted from the SNAP: Science for Nature and People Water
Transactions Working Group at the National Center for Ecological Analysis and
Synthesis, a Center funded by the Gordon and Betty Moore Foundation, the
University of California, Santa Barbara, and the State of California.
</p>

<p>
For more information on the working group, including a list of
its participants and their organizations, please visit
<a href="http://www.snap.is/groups/sharing-water/" target="_blank">
the SNAP project description page
</a>
and the <a href="https://www.nceas.ucsb.edu/portal/12707" target="_blank">
the project page at NCEAS
</a>
.
</p>

{% endblock %}
