{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Sharing Water</h1>
    <p class="lead">
        Over-allocation of water for agricultural, municipal, and industrial
        use severely depletes stream flows across the American West, degrading
        ecosystems, and posing economic risk to all who depend on reliable
        water supplies. Can a novel approach to water agreements - legal
        transactions that change water use or transfer or sell water rights -
        overturn competition between users and instead advance a
        multiple-benefit approach that restores stream flows, reduces economic
        risk associated with water shortages, and maintains agricultural
        economies?
    </p>
    <p><a href="http://www.snap.is/groups/sharing-water/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Projects</h2>
        <p>
            Explore existing projects or create a new project for evaluating
            water sharing alternatives.
        </p>
        <p><a class="btn btn-default" href="/tools/projects">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
