{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Sharing Water</h1>
    <p class="lead">
        Over-allocation of water for agricultural, municipal, and industrial
        use severely depletes stream flows across the American West, degrading
        ecosystems, and posing economic risk to all who depend on reliable
        water supplies. Can a novel approach to water agreements - legal
        transactions that change water use or transfer or sell water rights -
        overturn competition between users and instead advance a
        multiple-benefit approach that restores stream flows, reduces economic
        risk associated with water shortages, and maintains agricultural
        economies?
    </p>
    <p><a href="http://www.snap.is/groups/sharing-water/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tools</h2>
        <p>
            Visualize and explore water data using our tools to evaluate key
            water sharing indicators.
        </p>
        <p><a class="btn btn-default" href="/tools">Learn more &raquo;</a></p>
    </div>
    <!--
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Python Tools for Visual Studio</h2>
        <p>
            PTVS is a free, open source plugin that turns Visual Studio into a Python IDE 
            with support for editing, browsing, IntelliSense, Azure remote debugging, 
            profiling and more.
        </p>
        <p><a class="btn btn-default" href="http://pytools.codeplex.com">Learn more &raquo;</a></p>
    </div>
    -->
</div>

{% endblock %}
