{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

    <h1>Edit Scenario</h1>

    <form action="{% url 'scenario-edit' scenario_id %}" method="post">
        {% csrf_token %}
        <div id="common-parameters">
            <h2>General Information</h2>
            {% include 'utils/bootstrap_form_element.django.html' with id='general' form=common_form %}
        </div>

        <div id="gage-parameters">
            <h2>USGS Gage Information</h2>
            {% include 'utils/bootstrap_form_element.django.html' with id='gage' form=gage_form %}

            {% include 'scenarios/cyclic_target_element.django.html' %}
        </div>

        <div id="excel-parameters">
            <h2>Excel File Information</h2>
            {% include 'utils/bootstrap_form_element.django.html' with id='excel' form=excel_form %}
        </div>
        <input class="btn btn-primary" type="submit" value="Save Scenario" />
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'app/scripts/jquery.formset.js' %}"></script>
    <script src="{% static 'scenarios/scenario_edit.js' %}"></script>
    <script type="text/javascript">
        var cyclicTargetPrefix = '{{ cyclic_target_element_formset.prefix }}'
        $(document).ready(ScenarioEdit.initialize);
    </script>
{% endblock %}
