{% extends "app/layout.html" %}
{% load staticfiles %}

{% block content %}

    <h1>Edit Scenario</h1>

    <form action="{% url 'scenario-edit' scenario_id %}" method="post">
        {% csrf_token %}
        <div id="common-parameters">
            <h2>General Information</h2>
            {% include 'utils/bootstrap_form_element.django.html' with id='general' form=common_form %}
        </div>

        <div id="gage-parameters">
            <h2>USGS Gage Information</h2>
            {% include 'utils/bootstrap_form_element.django.html' with id='gage' form=gage_form %}

            {% if cyclic_target_form %}
            {% include 'utils/bootstrap_form_element.django.html' with id='target' form=cyclic_target_form %}
            {% if cyclic_target_element_formset %}
            <div class="panel panel-default">
            <div class="panel-heading">Flow Target</div>
            {{ cyclic_target_element_formset.management_form }}
            <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>From Month</th>
                    <th>From Day</th>
                    <th>To Month</th>
                    <th>To Day</th>
                    <th>Target (cfs)</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
            {% for form in cyclic_target_element_formset %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            <tr>
                <td>{{ form.from_month }}</td>
                <td>{{ form.from_day }}</td>
                <td>{{ form.to_month }}</td>
                <td>{{ form.to_day }}</td>
                <td>{{ form.target_value }}</td>
                <td>{{ form.DELETE }}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
            {% endif %}
            {% endif %}
            </div>
        </div>

        <div id="excel-parameters">
            <h2>Excel File Information</h2>
            {% include 'utils/bootstrap_form_element.django.html' with id='excel' form=excel_form %}
        </div>
        <input class="btn btn-primary" type="submit" value="Save" />
    </form>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scenarios/scenario_edit.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(ScenarioEdit.initialize);
    </script>
{% endblock %}
